
<div id="fullform">
    <form class="example-form">
        <mat-form-field class="example-full-width">
          <mat-label>First Name</mat-label>
          <input type="text" matInput placeholder="First Name" value="">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <mat-label>Last Name</mat-label>
          <input type="text" matInput placeholder="Last Name" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Address</mat-label>
          <input type="text" matInput placeholder="Address" value="">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter your email</mat-label>
          <input type="email" matInput placeholder="abc@gmail.com"  required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill">
          <mat-label>Enter your Password</mat-label>
          <input type="password" matInput   required>
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Date of Birth:</mat-label>
          <input type="date" matInput   required>
        </mat-form-field>
        <br>
        <h4>Gender :</h4>
        <mat-radio-group aria-label="Select an option">
          <mat-radio-button value="Male">Male</mat-radio-button>
          <mat-radio-button value="Female">Female</mat-radio-button>
          <mat-radio-button value="Others">Others</mat-radio-button>
        </mat-radio-group>

        <h3>Your Hobby:</h3>
        <mat-checkbox>Coding</mat-checkbox>
        <mat-checkbox>Singing</mat-checkbox>
        <mat-checkbox>Dancing</mat-checkbox>
        <mat-checkbox>Writing</mat-checkbox>
        <br>
        <button mat-raised-button color="primary">Submit</button>
    </form>
    </div>